.topnav{
    padding: 0 2vw;
    display: flex;
    background-color: red;
  }
  .topnav button{
    margin-top: 3vh;
  }
  .topnav input{
    height: 3vh;
    margin-top: 3vh;
  }
  .topnav a button{
      background-color: chocolate;
      width: 100px;
      height: 30px;
      border-radius: 30px;
      margin-left: 500px;
  }
  .topnav h1{
    margin-top: 5vh;
  }
  .topnav-nav{
    align-items: baseline;
      display: flex;
      align-items: center;
      list-style: none;
  }
  .topnav-link{
      color: white;
      text-decoration: none;
  }
  .topnav-item{
      display: flex;
      align-items: center;
      width: 15vw;
      height: 10vh;
  }
  .topnav-item:hover{
      background-color: orange;
  }

  .button{
      margin-left: 800px;
  }

  .signup{
    width: 50vw;
    background-color: grey;
    border-radius: 12px;
    margin: auto;
  }
  .signup-text{
      font-size: 1rem;
      color: whitesmoke;
  }
  .center{
      display: block;
      text-align: center;
  }
  .signup input{
      border-radius: 5px;
      width: 20vw;
      height: 5vh;
  }
  .signup button{
      display: inline-block;
      width: 20vw;
      height: 6vh;
      margin-top: 4rem;
      padding: auto;
      margin-left: 15vw;
      
  }
  @media only screen and (max-width: 600px){
    .signup{
        width: 90%;
      }
      :root{
          font-size: 12px;
      }
      .signup button{
        display: inline-block;
        margin-left: 33vw;
      }
  }
  .topnav a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-left: 3rem;
  }